/* Additional styles */

figcaption .center-caption {
  text-align: center;
  margin-bottom: 0.50em;
}

#tab-overview figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 20px 20px 0;
}

#tab-overview figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

#tab-overview figure:hover figcaption {
  opacity: 1;
}

#tab-overview figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}

#tab-overview figure:hover:before {
  opacity: 0;
}

#tab-overview .cap-bot:before { bottom: 10px; left: 10px; }
#tab-overview .cap-bot figcaption { left: 0; bottom: -30%;}
#tab-overview .cap-bot:hover figcaption { bottom: 0; }