/*--- HEADER */
.titlearea {
  background-color: #4CA6FB;
}

.titlearea .page-title .icon{ 
	background-color: #3e81be;
}

.titlearea .breadwrap ol li i{
	background:#4CA6FB;
}

/*--- CONTENT */
.content-resources ul.nav-pills li.active {
  border-left-color: #4CA6FB;
}

.content-resources ul.nav-pills li {
  display: none;
}



button.btn.btn-default.italic.active{
	color:#fff;
	background:#777;
}
/* --- gmaps-buttons is example of class set on div wrapper ---*/
.btn-group-gmaps{
	display:inline-block;
	position:relative;
	top:-77px;
	left:80px;
	-moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
}


.modal-header button.close{ color:#777; font-size:3em;}


